/* SkillCard.css */

.skill-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.skill-icon {
    width: 10em;
    height: 10em;
    margin-right: 2em;
}

.skill-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.skill-description {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
    text-align: start;
    text-indent: 30px;
}


.skill-card section{
    display: flex;
    flex-direction: column;
    width: 30em;

}

@media (max-width:600px) {
    .skill-card {
        margin-left: 10px;
        padding: 10px;
        margin-right: 10px;
    }

    .skill-icon {
        width: 9em;
        height: 9em;
        margin-right: 1em;
    }

    .skill-card section{
        display: flex;
        flex-direction: column;
        width: 30em;
    
    }
}