.side-container{
    width: 60px;
    height: 93.5dvh;
    display: block ;
    position: sticky;
    top: 4.1em;
}

.social-midia{
    margin-top: 5em;
}

.social-midia a {
    margin: 0 10px;
    font-size: 24px; /* Ajusta o tamanho */
    color: #333; /* Define a cor */
    text-decoration: none;
    padding: 10px;

}

.social-midia a:hover {
    color: #007bff; /* Cor ao passar o mouse */
}
.side-container svg{
    width: 25px;
    height: 25px;
}
.side-container .social-midia{
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    justify-content: center;
}
.side-container .site-controls{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 20%;
}
.site-controls i {
    margin: 0 10px;
    font-size: 24px; /* Ajusta o tamanho */
    color: #333; /* Define a cor */
    text-decoration: none;
    padding: 10px;

}
/* Container principal */
.language-selector {
    cursor: pointer;
    font-size: 36px;
    margin: 10px 0;
}

.language-options {
    display: flex;
    flex-direction: row; /* Alinha as bandeiras na horizontal */
    position: absolute;
    top: 50%; /* Centraliza verticalmente em relação ao botão */
    left: 100%; /* Coloca o dropdown à direita do botão */
    transform: translateY(-50%); /* Centraliza verticalmente */
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 5px 10px;
    margin-left: 10px;
}

.language-options span {
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.language-options span:hover {
    transform: scale(1.1);
}

.language-options .flag-icon {
    font-size: 36px; /* Tamanho das bandeiras */
    margin: 5px;
    border-radius: 50%; /* Deixa a bandeira circular */
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.language-options .flag-icon:hover {
    transform: scale(1.1); /* Efeito hover */
}

.snackbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    opacity: 0.9;
    z-index: 1000;
    animation: fadeInOut 3s ease;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateX(-50%) translateY(20px); }
    10% { opacity: 0.9; transform: translateX(-50%) translateY(0); }
    90% { opacity: 0.9; transform: translateX(-50%) translateY(0); }
    100% { opacity: 0; transform: translateX(-50%) translateY(20px); }
}
